<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p1emergency.root"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Google Maps related permissions -->
<!--     <permission
        android:name="com.ecs.google.maps.v2.actionbarsherlock.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.mapdemo.permission.MAPS_RECEIVE" />
 -->
    <!-- Network connectivity permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

   <!-- Access Google based webservices -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- External storage for caching. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- My Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_android"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAu3wRYQbb6fT-Fk2CSciMsUQ116jx8eUc" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

  
         <activity
            android:name="com.p1emergency.activity.POEMenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
<!--             <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity
            android:name="com.p1emergency.activity.P1MenuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.p1emergency.activity.EMHLockScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
<!--              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <!-- 
                <activity
            android:name="com.p1emergency.activity.FakeWaitTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity> -->
        
                <activity
            android:name="com.p1emergency.activity.FakeProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        
                <activity
            android:name="com.p1emergency.activity.POEWaitTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
<!--              <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <activity
            android:name="com.p1emergency.activity.EMHAppointmentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom.sidemenu"
            android:uiOptions="splitActionBarWhenNarrow" />
        <!-- A child of the main activity -->
    <activity
        android:name="com.p1emergency.activity.EMHSettingsActivity"
            android:label="@string/title_activity_emhsettings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow"
        android:parentActivityName="com.p1emergency.activity.EMHAppointmentsActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="demo.emh.activity.MyAccountsActivity" />
    </activity>
        
        
        
        <activity
            android:name="com.p1emergency.activity.EmergencyMedicareActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.p1emergency.activity.POEInfoCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.p1emergency.activity.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom.sidemenu"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.p1emergency.activity.POEProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom.sidemenu"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.p1emergency.activity.EMHHospitalLocatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" />
        
        <activity
            android:name="com.p1emergency.activity.EMHReportsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom.sidemenu"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.p1emergency.activity.EMHProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom.sidemenu"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="com.p1emergency.activity.EMHHistoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom.sidemenu"
            android:uiOptions="splitActionBarWhenNarrow" />
        
        <activity
            android:name="com.p1emergency.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        
        <activity
            android:name="com.p1emergency.activity.EMHMapsActivity"
            android:parentActivityName="com.p1emergency.activity.POEWaitTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" />
        
        <activity
            android:name="com.p1emergency.activity.POEPrivacyTermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.custom"
            android:uiOptions="splitActionBarWhenNarrow" >
                     <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
<!-- 
         <uses-library android:name="com.google.android.maps" /> -->
    </application>

</manifest>